<div class="newrealease">
    <h4>New Uploads<span id="viewmore">View More</span></h4><br>
    <div class="movies">
        <% movies.forEach(function(movie){ %>
            <div onclick="getmovie(this.getAttribute('dataid'))" class="movie" dataid="<%= movie._id %>">
                <img src="<%= movie.imgurl %>" alt="">
                <p class="name"><%= movie.name %></p>
                <p class="year"><%= movie.year %></p>
            </div>
        <% }) %>
        
    </div>
</div>
<div class="byalphabet"><br>
    <h4 class="title">Get Movies by Alphabets</h4><br>
    <div class="alphabets">
        <% alphas.forEach(function(alpha){ %>
            <a onclick="getmoviesbyalpha(this.getAttribute('dataalpha'))" dataalpha="<%= alpha.toLowerCase() %>" ><%= alpha.toUpperCase() %></a>
        <% }) %>
    </div>
<div class="byyear"><br>
    <h4 class="title">Get Movies by Year</h4>
    <div class="years"><br>
        <% years.forEach(function(year){ %>
            <a onclick="getmoviesbyyear(this.getAttribute('datayear'))" datayear="<%= year.toLowerCase() %>""><%= year.toUpperCase() %></a>
        <% }) %>
    </div><br>
</div>  
</div>